[defaults]
host_key_checking = False
# Use the default callback with YAML-formatted task results.
stdout_callback = ansible.builtin.default
callback_result_format = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
callbacks_enabled = profile_tasks
interpreter_python = auto

[ssh_connection]
retries=10
